@page "/"

<PageTitle>Getting Started</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mb-4">Добро пожаловать в Mocker</h1>
            <p class="lead text-center mb-5">Простой и удобный инструмент для генерации тестовых данных</p>

            <h2 class="mb-3">Что такое Mocker?</h2>
            <p>Mocker - это веб-приложение, которое позволяет генерировать тестовые данные различных форматов, таких как CSV, SQL, XML и другие. Оно может быть полезно для разработчиков, тестировщиков и аналитиков, которым требуются реалистичные наборы данных для тестирования или демонстрации своих приложений.</p>

            <h2 class="mb-3">Основные функции</h2>
            <ul>
                <li>
                    <strong>Генерация данных в различных форматах:</strong> CSV, SQL, XML, JSON и другие.
                </li>
                <li>
                    <strong>Настройка структуры данных:</strong> Вы можете определить количество строк, названия столбцов и типы данных.
                </li>
                <li>
                    <strong>Сохранение пользовательских наборов данных:</strong> Возможность сохранять и загружать ваши собственные наборы данных для последующего использования.
                </li>
                <li>
                    <strong>Предварительный просмотр данных:</strong> Перед генерацией вы можете просмотреть, как будут выглядеть ваши данные.
                </li>
            </ul>

            <h2 class="mb-3">Начало работы</h2>
            <p>Чтобы начать работу с Mocker, перейдите в раздел "Data Mock" в навигационном меню. Там вы сможете настроить структуру данных и сгенерировать тестовые наборы в нужном формате.</p>
            <p>Если у вас есть свои собственные наборы данных, вы можете сохранить их в разделе "User Data Set" для последующего использования.</p>
        </div>
    </div>
</div>